#cont1 {
  padding-top: 8%;
}

@media (max-width: 991px) {
  #cont1 {
    padding-top: 20%;
  }
}

@media (max-width: 400px) {
  #cont1 {
    padding-top: 40%;
  }
}

#row1 {
  justify-content: space-evenly;
}
