* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

#carouselExampleIndicators {
  background-color: #EFEFF4;
}

#carouselExampleIndicators .carousel-inner {
  padding: 3em;
}

#carouselExampleIndicators .carousel-inner .carousel-item .d-flex {
  justify-content: space-evenly;
}

#carouselExampleIndicators .carousel-inner .carousel-item .d-flex .cl1 {
  width: 30%;
}

#carouselExampleIndicators .carousel-control-prev {
  justify-content: start;
}

#carouselExampleIndicators .carousel-control-next {
  justify-content: end;
  padding: 1px;
}

#carouselExampleIndicators .carousel-indicators button.active {
  background-color: #38B9DB;
}

#carouselExampleIndicators .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carouselExampleIndicators .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2338B9DB' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carouselExampleIndicators .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2338B9DB' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
