$breakpoint-tablet: 991px;
$breakpoint2-tablet: 767px;
$button-Width: 100px;
$logoColor: #004f71;
$callUsColor: #38b9db;
$margTop: 8%;

body {
  background-color: #efeff4 !important;
}

#btnLogin {
  width: $button-Width;
  height: 50px;
  background-color: $logoColor;
}

@media (max-width: $breakpoint-tablet) {
  #btnLogin {
    width: 100%;
  }
}

#cont1 {
  padding-top: $margTop;
}

@media (max-width: $breakpoint-tablet) {
  #cont1 {
    padding-top: 20%;
  }
}

@media (max-width: 400px) {
  #cont1 {
    padding-top: 40%;
  }
}

#row1 {
  justify-content: space-evenly;
}

#CallUs {
  background-color: $callUsColor;
  width: 120px;
  justify-content: center;
}

#hh1 {
  color: $logoColor;
}

#pp1 {
  color: $logoColor;
}

#calluscol {
  display: flex;
}

@media (max-width: $breakpoint-tablet) {
  #calluscol {
    display: block;
  }
}

@media (max-width: $breakpoint2-tablet) {
  #calluscol {
    display: flex;
  }
}

#svgg {
  margin-left: 40%;
}

.feach {
  border-bottom: $callUsColor 3px solid;
  color: $callUsColor;
  padding-bottom: 20px;
  width: 15% !important ;
  margin-left: 70px;
}
.doctor-name {
  border-radius: 8px;
  padding-left: 2%;
  background-color: #efeff4;
  border: none;
  width: 80%;
  height: 100%;
}

#one {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 40px;
  font-family: "FFShamelFamily-SansOneBold";
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.why-img {
  float: right;
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 18px;
}

.why-h4 {
  font-family: "FFShamelFamily-SansOneBold";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  margin-top: 0px;
}

.xb {
  margin-top: -10%;
  width: 70%;
}

@media (max-width: $breakpoint-tablet) {
  .xb {
    display: none;
  }

  // .why-h4{

  // }
}

.c {
  color: $logoColor !important;
}

.c1 {
  background-color: $logoColor;
}

// .imgclasss{
//     display: none;
// }
.search_box {
  padding-top: 120px;

  width: 100%;
  background: $logoColor;
  transition: top 1.3s;
}

.form-select {
  //     background-color:#3f0e0e;
  height: 60px;
}

.ser_input {
  width: 90%;
  margin-left: 5%;
}

.ser_input .input-container {
  background-color: #efeff4;
  border-radius: 6px;
  margin-bottom: 25px;
  display: none;
}

.ser_input .input-container input {
  background-color: #efeff4;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .bttn-search {
    height: 50px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
