<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide-to="0"
       [ngClass]="{'active': currentPage == i}" *ngFor="let page of numberOfPagesArray, let i = index" (click)="onpagintion(i)"
          aria-current="true" aria-label="Slide 1"></button>

  </div>
  <div class="carousel-inner">
      <div class="carousel-item active " >
          <div class=" d-flex caro_cont">
            <app-card class="cl1 " id="caro"  *ngFor="let x of doctorCarouselArr " [doctor]="x"  ></app-card>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" (click)= "onpagintion(currentPage - 1)"
      data-bs-slide="prev">
          <img src="../../../assets/images/btn-arrow-right-normal.svg" alt="">

  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" (click)= "onpagintion(currentPage + 1)"
      data-bs-slide="next">

          <img src="../../../assets/images/btn-arrow-left-normal.svg" alt="">

  </button>
</div>
