<!-- first static section -->
<div class="container-fluid " style="margin-top: 70px;">
  <div class="row c1">
      <div class="col-lg-7 col-md-10 col-sm-12 col-xm-12">
          <h2 id="one" >{{'What is CliniDo?'|translate}}</h2>
          <div class="why-img ">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                  <img src="https://clinido.com/public/images/icons-01.svg" class="img-responsive">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-11 col-xs-10">
                  <h4 class="why-h4">{{'CliniDo is a platform for fast and easy way to Book a Doctor.'|translate}}</h4>
              </div>
          </div>

          <div class="why-img">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                  <img src="https://clinido.com/public/images/icons-02.svg" class="img-responsive ">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-11 col-xs-10">
                  <h4 class="why-h4">{{'CliniDo connecting you with Best Doctors in all specialties.'|translate}}</h4>
              </div>
          </div>

          <div class="why-img">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                  <img src="https://clinido.com/public/images/icons-03.svg" class="img-responsive ">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-11 col-xs-10">
                  <h4 class="why-h4">{{'Book A Doctor at any time any where'|translate}}</h4>
              </div>
          </div>

          <div class="why-img">
              <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
                  <img src="https://clinido.com/public/images/icons-04.svg" class="img-responsive ">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-11 col-xs-10">
                  <h4 class="why-h4">{{'It’s a free service, just pay at the clinic No Extra fees'|translate}}</h4>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-5 ">
          <div class="center">
              <div class="doctor">
                  <img src="https://clinido.com/public/images/img-1.svg" class="img-responsive xb">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<h1 class="wrapper" >{{'Why CliniDo is the best choice for you?'|translate}}</h1>
<div class="wrapper" id="warpper" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-lg-4 my-3">
        <div class="card ca">

          <div class="card-body cb">

            <img src="https://clinido.com/public/images/img-features-03.svg" width="150" height="190"
             alt="loading...">

            <h5 class="card-title ctl">{{'Search by specialty and area where you are please!'|translate}}</h5>

            <p class="card-text ct"> {{'Select the needed specialty and the nearest area then click search you will find group of the best doctors.'|translate}}</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 my-3">
        <div class="card ca">

          <div class="card-body cb">
            <img src="https://clinido.com/public/images/img-features-02.svg" width="150" height="190" alt="...">
            <h5 class="card-title ctl">
              {{'Book the Best Doctor then pay later in the clinic'|translate}}
            </h5>

            <p class="card-text ct">
              {{'Compare between doctors’ reviews and book your appointment for free then pay later at the clinic.'|translate}}</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 my-3">
        <div class="card ca">

          <div class="card-body cb">
            <img src="https://clinido.com/public/images/img-features-01.svg" width="150" height="190"
             alt="...">
            <h5 class="card-title ctl">
              {{'Receive and archive your online Prescription!'|translate}}</h5>

            <p class="card-text ct">
              {{'No more lost prescription because you can archive it in your account and share it with your doctors.'|translate}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- //////////////////////////////////////////////////////////Asmaa//////////////////////////////////////////////////////////////////// -->
<section id="get">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 ">
                <div class="get-content">
                    <h2 class="get-h1">{{'Book on our site or download the app Now!'|translate}}</h2>
                    <h3 class="get-h3">{{'CliniDo connecting you with Best Doctors in all specialties.'|translate}}</h3>

                    <div class="app-download nav">

                        <div class=" appel">
                            <a href=" https://apps.apple.com/app/id1494684476" target="_blank">
                                <img src="https://clinido.com/public/images/btn-apple-store-dark.svg"
                                    class="img-responsive web-img">
                            </a>

                        </div>


                        <div class=" android">
                            <a href="https://play.google.com/store/apps/details?id=com.patient.CliniDo.patientandroid"
                                target="_blank">
                                <img src="https://clinido.com/public/images/btn-google-play-dark-2.svg"
                                    class="img-responsive web-img">
                            </a>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-lg-5  download-img">
                <div class="get-img mb-4">
                    <img src="https://clinido.com/public/images/download-app-en.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////////////////////////////////////////////////////Hafsa////////////////////////////////////////////////////////// -->
