<div class="footer">
  <div class="container-fluid content">
      <div class="row row1">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerCol">
              <h1 class="d-lg-none d-block mainHeader" data-bs-toggle="collapse" href="#collapseExample"
                  role="button" aria-expanded="true" aria-controls="collapseExample" [ngClass]="(arrowDir)? 'mainHeader' : 'mainHeaderBlue'">
                  <button class="arrow" (click)="handleOpen()"><i class="fa fa-lg" [ngClass]="(arrowDir)? 'fa-chevron-down' : 'fa-chevron-up'"></i></button>
                  {{'specialties'|translate}}
              </h1>
              <div class="collapse dropDownMenu d-lg-none" id="collapseExample">
                  <ul class="clinicList">
                      <li><a class="dropdown-item" href="#">{{'ophthalmology'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'dermatology'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'dietitian and nutrition'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'ear, nose and throat'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'more specialities'|translate}}</a></li>
                  </ul>
              </div>
              <h1  class="d-lg-block d-none dropdown-toggle ms-3 mainHeader">{{'specialties'|translate}}</h1>
              <ul  class="d-lg-block d-none clinicList">
                  <li><a class="dropdown-item" href="#">{{'ophthalmology'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'dermatology'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'dietitian and nutrition'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'ear, nose and throat'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'more specialities'|translate}}</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerCol">
              <h1 class="d-lg-none d-block mainHeader" data-bs-toggle="collapse" href="#collapseExample1"
                  role="button" aria-expanded="true" aria-controls="collapseExample1" [ngClass]="(arrowDir)? 'mainHeader' : 'mainHeaderBlue'">
                  <button class="arrow" (click)="handleOpen()"><i class="fa fa-lg"[ngClass]="(arrowDir)? 'fa-chevron-down' : 'fa-chevron-up'" ></i></button>
                  {{'cities'|translate}}
              </h1>
              <div class="collapse dropDownMenu" id="collapseExample1">
                  <ul class="clinicList">
                      <li><a class="dropdown-item" href="#">{{'cairo'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'giza'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'assuit'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'qena'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'more cities'|translate}}</a></li>
                  </ul>
              </div>
              <h1  class="d-lg-block d-none dropdown-toggle ms-3 mainHeader">{{'cities'|translate}}</h1>
              <ul  class="d-lg-block d-none clinicList">
                  <li><a class="dropdown-item" href="#">{{'cairo'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'giza'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'assuit'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'qena'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'more cities'|translate}}</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerCol">
              <h1 class="d-lg-none d-block mainHeader" data-bs-toggle="collapse" href="#collapseExample2"
                  role="button" aria-expanded="true" aria-controls="collapseExample2"[ngClass]="(arrowDir)? 'mainHeader' : 'mainHeaderBlue'" >
                  <button class="arrow" (click)="handleOpen()"><i class="fa fa-lg" [ngClass]="(arrowDir)? 'fa-chevron-down' : 'fa-chevron-up'"></i></button>
                  {{'polyclinics'|translate}}
              </h1>
              <div class="collapse dropDownMenu" id="collapseExample2">
                  <ul class="clinicList">
                      <li><a class="dropdown-item" href="#">{{'polyclinics venus clinics'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'jumeirah clinics'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'polyClinic alsafwa medical'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'kaissar clinics'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'more polyclinics'|translate}}</a></li>
                  </ul>
              </div>
              <h1  class="d-lg-block d-none dropdown-toggle ms-3 mainHeader b4Last">{{'polyclinics'|translate}}</h1>
              <ul  class="d-lg-block d-none clinicList">
                  <li><a class="dropdown-item" href="#">{{'polyclinics venus clinics'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'jumeirah clinics'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'polyClinic alsafwa medical'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'kaissar clinics'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'more polyclinics'|translate}}</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 footerCol">
              <h1 class="d-lg-none d-block mainHeader" data-bs-toggle="collapse" href="#collapseExample3"
                  role="button" aria-expanded="true" aria-controls="collapseExample3"[ngClass]="(arrowDir)? 'mainHeader' : 'mainHeaderBlue'" >
                  <button class="arrow" (click)="handleOpen()"><i class="fa fa-lg"[ngClass]="(arrowDir)? 'fa-chevron-down' : 'fa-chevron-up'" ></i></button>
                  {{'cliniDo'|translate}}
              </h1>
              <div class="collapse dropDownMenu" id="collapseExample3">
                  <ul class="clinicList">
                      <li><a class="dropdown-item" href="https://clinido.com/ar/about-us">{{'about us'|translate}}</a></li>
                      <li><a class="dropdown-item" href="https://blog.clinido.com/">{{'clinido blog'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'symptoms checker'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'book home visit'|translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'insurance'|translate}}</a></li>
                  </ul>
              </div>
              <h1  class="d-lg-block d-none dropdown-toggle ms-3 mainHeader last">{{'cliniDo'|translate}}</h1>
              <ul  class="d-lg-block d-none clinicList">
                  <li><a class="dropdown-item" href="https://clinido.com/ar/about-us">{{'about us'|translate}}</a></li>
                  <li><a class="dropdown-item" href="https://blog.clinido.com/">{{'clinido blog'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'symptoms checker'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'book home visit'|translate}}</a></li>
                  <li><a class="dropdown-item" href="#">{{'insurance'|translate}}</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
<section id="footer">
  <hr>
  <div class="container-fluid content">
      <div class="row social">
          <div class="col-md-4 col-sm-12 col-xs-12 socialIcons">
              <div class="row" style="flex-direction: row; justify-content: center;">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 logo">
              <a href="#"><img src="https://clinido.com/public/images/logo-menu-light.svg"></a>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 copyright">
              <p>Clinido &copy Coptyright 2021</p>
          </div>
      </div>
  </div>
</section>


