#details{
  margin: 10% auto !important;
  text-align: center;
  align-items: center;
  h5,h3{
    color:#38B9DB;
  }
}
.card{
  flex-direction: row !important;
  justify-content: space-evenly !important;
}
